<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <script src="https://unpkg.com/feather-icons"></script>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">

        <style>
            body {
                text-align: center;
            }

            .nav-item {
                padding: 0 3rem;
            }
        </style>
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Hospital</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="AppointmentsForm">Schedule Appointment</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="PaymentForm">Make Payment</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="InvoiceForm">New Invoice</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="Appointments">View Appointments</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        
        <h1>HOSPITAL MANAGEMENT SYSTEM</h1>
        
        <div class="main ul-list">
            <ul class="list-group">
                <a href="Hospital"><li class="list-group-item front-page-dec">Hospital</li></a>
                <a href="Doctor"><li class="list-group-item front-page-dec">Doctor</li></a>
                <a href="Nurse"><li class="list-group-item front-page-dec">Nurse</li></a>
                <a href="Rooms"><li class="list-group-item front-page-dec">Rooms</li></a>
                <a href="Receptionist"><li class="list-group-item front-page-dec">Receptionist</li></a>
                <a href="Insurance"><li class="list-group-item front-page-dec">Insurance</li></a>
                <a href="CPT"><li class="list-group-item front-page-dec">CPT</li></a>
                <a href="Diagnosis"><li class="list-group-item front-page-dec">Diagnosis</li></a>
                <a href="Medicine"><li class="list-group-item front-page-dec">Medicine</li></a>
                <a href="Laboratory"><li class="list-group-item front-page-dec">Laboratory</li></a>
                <a href="Patient"><li class="list-group-item front-page-dec">Patient</li></a>
                <a href="Invoice"><li class="list-group-item front-page-dec">Invoice</li></a>
                <a href="Paycheck"><li class="list-group-item front-page-dec">Paycheck</li></a>
                <a href="Record"><li class="list-group-item front-page-dec">Record</li></a>
                <a href="Payment"><li class="list-group-item front-page-dec">Payment</li></a>
                <a href="Appointments"><li class="list-group-item front-page-dec">Appointments</li></a>
                <a href="Prescription"><li class="list-group-item front-page-dec">Prescription</li></a>
              </ul>
        </div>

          <script>
            feather.replace()
          </script>
        <script src="" async defer></script>
    </body>
</html>