<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Form</title>
        <script src="https://unpkg.com/feather-icons"></script>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        
        <h1>Form</h1>
        <div class="detail">
            <form action="RecordForm" method="post">
                <label>record_id</label><br>
                <input type="text" placeholder="Enter record_id" name="record_id" required><br>
                <label>patient_id</label><br>
                <select name="patient_id" required>
                    <% data.forEach(function(val){ %>
                    <option name="patient_id" value="<%=val.Patient_id%>"><%=val.Patient_id%></option>
                    <% }) %>
                </select><br>
                <label>Description</label><br>
                <input type="text" placeholder="Enter Description" name="Description" required><br>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
          <script>
            feather.replace()
          </script>
        <script src="" async defer></script>
    </body>
</html>