<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Record</title>
        <script src="https://unpkg.com/feather-icons"></script>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        
        <h1>Record</h1>
        <a href="RecordForm"><button type="button" class="btn">Add</button></a>
        
        <div class="main">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">record_id</th>
                <th scope="col">patient_id</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
                <% data.forEach(function(hosp){ %>
                    <tr>
                      <td><%= hosp.record_id%></td>
                      <td><%= hosp.patient_id%></td>
                      <td><%= hosp.Description%></td>
                    </tr>
                    <% }) %>
            </tbody>
          </table>
        </div>

          <script>
            feather.replace()
          </script>
        <script src="" async defer></script>
    </body>
</html>